<% layout('layouts/boilerplate') -%>

    <body>
        <div class="row col-8 offset-2 mb-4">
            <h1>Add New Contact</h1>
            <form action="/contacts" method="post" class="row g-3 needs-validation" novalidate>
                <!-- First name -->
                <div class="mb-3">
                    <label for="contact-firstname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="contact-firstname" placeholder="John"
                        name="contact[firstname]" required>
                </div>
                <!-- Last name -->
                <div class="mb-3">
                    <label for="contact-lastname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="contact-lastname" placeholder="Doe"
                        name="contact[lastname]" required>
                </div>
                <!-- Email -->
                <div class="mb-3">
                    <label for="contact-email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="contact-email" placeholder="john@example.com"
                        name="contact[email]" required>
                </div>
                <!-- Phone number -->
                <div class="mb-3">
                    <label for="contact-phonenumber" class="form-label">Phone Number</label>
                    <input type="number" class="form-control" id="contact-phonenumber" placeholder="91xxxx8080"
                        name="contact[phonenumber]" required>
                </div>
                <!-- Address -->
                <div class="mb-3">
                    <label for="contact-address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="contact-address"
                        placeholder="531 Street, Nowhere, Universe." name="contact[address]" required>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Add Contact</button>
                </div>
            </form>
        </div>
    </body>